@charset "utf-8";
/* CSS Document */

.parceiros {
  padding-top: 40px;
  padding-bottom: 40px;
}


.sub-parceiros{
	display: flex;
	justify-content:center;
	margin-top: 80px;
	
}




.parceiros ul {
  padding: 0 20px;
  max-width: 1160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

/*para alinhar as imagens*/
.parceiros li{
	display: flex;
	padding: 32px;
	border:2px solid #D3D3D3;
}

.parceiros img{
	margin: auto;
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }
  
  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .parceiros li{
	display: flex;
	padding: 20px;
	border:1px solid #D3D3D3;
}

}

@media (max-width: 414px) {
	
.sub-parceiros{
	
	margin-top: 60px;
	font-size: 21px;
	
}
	
.parceiros {
  padding-top: 20px;
  padding-bottom: 10px;
 
	}
	
	
.parceiros img{
	margin: auto;
	width: 80%;
	height: 80%;
		
}

}